.container_meniu{
    text-align: center;
    width: 100%;
    background-color:aquamarine;
    height: 140px;
    border:5px solid rgb(106, 184, 158);
    box-shadow: 16px 45px 48px -13px rgba(0,0,0,0.75);
}

.container_meniu .meniu{
    display: flex;
    position: relative;
}

li{
        font-size: 44px;
        list-style-type: none;
        font-family:cursive;
        padding:10px;
}

li a:hover{
    color:rgb(79, 77, 208);
}

.container_meniu .meniu li a{
    color:blueviolet;
    text-decoration: none;
    transition: color 1 ease;
}

.container_meniu .meniu li{
    flex: 1;
}

.container_meniu .meniu li:first-child a{
    color:blueviolet;
}

.container_meniu .meniu .linie{
    position:absolute;
    height:5px;
    width: 20%;
    background: blueviolet;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
}

.container_meniu .meniu li:nth-child(2):hover ~ .linie{
    left: 20%;
}

.container_meniu .meniu li:nth-child(3):hover ~ .linie{
    left: 40%;
}
.container_meniu .meniu li:nth-child(4):hover ~ .linie{
    left: 60%;
}

.container_meniu .meniu li:nth-child(5):hover ~ .linie{
    left: 80%;
}

