p{
    color: darkturquoise;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

h2{
    color: chartreuse;
    color: blue;
}
h3{
    color: blueviolet;
}
body{
    background-color: coral;
}
h1{
    background-color: cadetblue;
}
h3{
    background-color: blue;
}